@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Varela+Round&display=swap');

* {
    font-family:'Varela Round','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2 {
    font-family:'Baumans','Varela Round','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 0 rgb(236, 34, 39);
}

h1 {
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

h2 {
    margin-bottom: -0.25rem;
}

main {
    padding-top: 60px;
    flex-direction: column;
    width: 100%
}

p {
    padding: 0 2rem;
    text-align: center;
    max-width: 1000px;
    width: 80%
}

footer nav menu li {
    text-align: center;
}

a {
    color: #fcdebd;
}

ol {
    width: 75%;
    align-self: center;
    margin-top: -1rem;
    background: #fcdebd;
    color: #4f2153;
}

ol li {
    padding-top: 5px;
    padding-bottom: 5px;
}

header {
    width: 90%;
    position: fixed;
    top: 0;
    background: #4f2153;
    border-bottom: 3px solid #fcdebd;
}