@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Varela+Round&display=swap');

* {
    font-family:'Varela Round','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3 {
    font-family:'Baumans','Varela Round','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 0 rgb(236, 34, 39);
}

nav li {
    list-style-type: none;
}

nav li a {
    color: #fcdebd;
    text-decoration: none;
}

footer nav menu li {
    color: #4f2153;
    text-align: center;
}

main {
    margin-top: 0;
}